.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  header {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e9e4db;
      span {
        margin: 5px;
      }
    }
  }
}
