.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  header {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;

      span {
        margin: 5px;
        font-weight: bold;
      }
    }
    .title-menu {
      border-bottom: 1px solid #e9e4db;
      padding-left: 5px;
      padding-bottom: 10px;
    }
    .select-menu {
      padding: 5px 0;
      border-bottom: 1px solid #e9e4db;
      button {
        &:hover {
          cursor: pointer;
          color: #908471;
        }
      }
    }
  }
}
