.detail-main {
  padding: 55px;
  border: 1px solid #ddd;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;

  .title {
    color: rgb(27, 27, 27);
    .name {
      font-family: 'Gowun Batang', serif;
      font-size: 40px;
      font-weight: 500;
    }

    .description {
      padding: 10px 0px 30px;
      font-family: 'Gowun Batang', serif;
      font-size: 20px;
    }
  }

  .img-container {
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    .main-img {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }

  .content-tab {
    padding-top: 15px;
    border-bottom: 1px solid #bfaf96;

    .button {
      margin: 0px 10px;
      padding-bottom: 12px;
      border: none;
      background-color: inherit;
      color: rgb(27, 27, 27);
      font-size: 16px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        color: #908471;
      }
      &:focus {
        color: #908471;
        outline: none;
        border-bottom: 3px solid #908471;
      }
    }
  }

  .content-box {
    width: 100%;
  }
}
