* {
  text-align: center;
  background-color: #eee;

  .nav {
    height: 130px;
    border: 1px solid #ddd;
  }

  .container {
    width: 1138px;
    background-color: white;
    border: 1px solid #ddd;
    margin: 30px auto;
    padding: 30px;

    .content-header {
      background-color: inherit;
      display: flex;
      vertical-align: middle;
      padding: 38px 0px;

      h1 {
        background-color: inherit;
        font-size: 27px;
      }

      small {
        color: #928470;
        background-color: inherit;
        font-size: small;
        padding-left: 14px;
        padding-top: 14px;
      }
    }

    .order-process {
      background-color: inherit;
      padding: 38px 0px;
      color: #928470;
      display: flex;
      text-align: center;
      border: 1px solid #e9e4db;
      justify-content: center;

      li.step {
        background-color: inherit;
        display: flex;
        align-items: center;

        .step-number {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          font-size: 18px;
          border: 1px solid #bfaf96;
          background: #fff;
          color: #bfaf96;
          padding-top: 1px;
          margin-right: 16px;
        }

        .active {
          background-color: #908471;
          border-color: #908471;
          color: white;
        }

        .title {
          font-size: 19px;
          font-weight: 700;
        }

        .next-step {
          width: 12px;
          height: 12px;
          background-color: inherit;
          opacity: 15%;
          margin: 0px 25px;
        }
      }
    }
    .cart-list {
      .item-to-order {
        background-color: inherit;
        display: flex;
        vertical-align: middle;
        margin: 18px 0px;
        padding: 18px 0px;
        border: 1px solid #e9e4db;
        border-width: 1px 0px;
        color: #908471;
        font-size: 23px;
        font-weight: 700px;
      }

      .cart-caption-list {
        display: flex;
        padding: 15px 0px;
        background-color: inherit;
        justify-content: space-between;
        color: #908471;
        font-weight: bold;
        font-size: 13px;

        .caption-item {
          width: 490px;
          height: inherit;
        }

        .caption-option {
          width: 100px;
        }

        .caption-delete {
          width: 57px;
        }
      }
    }

    .price-zone {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 15px 0px;
      margin-bottom: 40px;
      border: 1px solid #e9e4db;
      border-width: 1px 0px;
      color: #666666;
      font-size: 16px;
      font-weight: 700px;

      .price-sum {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-right: 1px solid #e9e4db;
        height: 44px;
      }

      div {
        margin-right: 20px;
      }

      .final-price {
        font-size: 33px;
        color: #908471;
      }
    }

    .button-zone {
      margin-bottom: 64px;

      button {
        background-color: inherit;
        width: 240px;
        border: 1px solid #928470;
        padding: 15px 30px;
        font-size: 17px;
        margin: 0px 6px;
      }

      .button-total {
        background-color: #928470;
        color: white;
      }
    }

    .order-more-zone {
      font-size: 14px;
      margin-bottom: 45px;

      .order-more {
        margin: 10px 0px;
        color: #444444;
        font-weight: 700;
        font-size: 16px;
      }

      div {
        color: #908471;
      }

      button {
        width: 260px;
        height: 51px;
        margin-top: 15px;
        border: 1px solid #e9e4db;
        background-color: inherit;
        color: #928470;
        font-size: 17px;
        font-weight: 500;
      }
    }

    span {
      background-color: inherit;
    }

    div {
      background-color: inherit;
    }

    a {
      background-color: inherit;
    }
  }
}
