.detail-sub {
  width: 22.9%;
  margin-left: 25px;
  border: 1px solid #bfaf96;

  .price-box {
    .price {
      display: flex;
    }
  }

  .option {
  }
  .button-box {
    button {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
