.detail-sub {
  padding: 10px 10px 0px 10px;
  border: 1px solid #bfaf96;
  background-color: white;

  .price-box {
    padding: 12px 12px 0px 12px;

    .price {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #bfaf9662;
      text-align: right;

      .title-price {
        margin-top: -5px;
        font-size: 24px;
        font-weight: 700;
      }

      .delete {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        margin-right: 20px;
        border: 1px solid #ddd;
        background-color: inherit;
        color: #bfaf96;
      }
    }

    .sub-title {
      font-size: 12px;
      color: #928470;
      font-weight: 600;
      text-align: left;
    }

    .option-box {
      margin-bottom: 15px;

      .select-option {
        margin-bottom: 15px;
      }
    }

    .button {
      height: 14px;
      margin: 0px 10px;
      background-color: inherit;
      opacity: 50%;
    }
  }

  .option {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #bbb;
    font-size: 15px;
    color: rgb(87, 87, 87);

    &:focus {
      outline: none;
    }
  }

  .button-box {
    display: flex;
    flex-direction: column;
    margin: 0px auto;

    button {
      height: 53px;
      margin-bottom: 10px;
      font-size: 16px;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: rgb(236, 236, 236);
      }
    }

    .add-to-cart {
      border: 1px solid rgb(194, 194, 194);
      background-color: inherit;
    }

    .order-now {
      background-color: #928066;
      color: white;
      &:hover {
        background-color: #665844;
      }
    }

    .order-naver {
      background-color: #00c63b;
      color: white;
      .naver {
        font-size: 21px;
        font-weight: 800;
      }
      .pay {
        font-size: 18px;
      }
      &:hover {
        background-color: #00a130;
      }
    }
  }
}
