* {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Noto Sans KR', sans-serif;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

