@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR&display=swap');

// font-family: 'Noto Sans KR', sans-serif;
//font-family: 'Gowun Batang', serif;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

