* {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Noto Sans KR', sans-serif;
