.MainSlide {
  display: flex;
  position: relative;
  justify-content: center;
  height: 420px;
  width: 99vw;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 34px;

  .img-slide {
    display: flex;
    width: 99vw;
    overflow: hidden;
    .img-slide-box {
      display: flex;
      width: inherit;
    }

    div {
      width: 100%;
      height: 420px;

      img {
        width: 99vw;
        height: 420px;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  .slide-content {
    display: flex;
    position: absolute;
    top: 42%;
    width: 99vw;
    align-items: center;
    overflow: hidden;

    .description-box {
      display: flex;

      .description {
        width: 99vw;

        div {
          width: 99vw;
          padding-left: 220px;
        }
        .detail {
          margin-top: 5px;
          font-size: 19px;
          font-weight: 300;
        }
      }
    }

    .button {
      padding: 15px 20px;
      margin: 30px;
      border: none;
      text-align: center;
      height: 55px;
      background-position: center center;
      background-image: url('../../../../public/image/main/mainSlide/nextIcon.png');
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0.253);
      background-size: 60%;
      opacity: 30%;
      cursor: pointer;

      &:hover {
        opacity: 65%;
      }
    }

    .button-right {
      position: absolute;
      left: 93.45%;
    }

    .button-left {
      position: absolute;
      transform: scaleX(-1);
    }

    .slide-idx {
      position: absolute;
      left: 126px;
      top: 207px;
      width: 44px;
      height: 21px;
      padding: 1.5px 0px 0px 2px;
      border-radius: 20px;
      background-color: black;
      color: white;
      font-size: 10px;
      text-align: center;
      opacity: 43%;
    }
  }
}
