.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .card {
    position: relative;
    margin: 10px;
    height: 60vh;
    width: 30%;
    min-width: 300px;
    max-height: 600px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // min-width: 400px;
    }
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
  }
  .content {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 40px,
      rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0px;
    padding: 14px;
    color: white;
    font-size: 16px;
  }
  .review {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #808080;
    font-size: 0.7em;
    span {
      color: #ffbf74;
    }
  }
}
