.container {
  min-height: 350px;

  .reviewList {
    width: 90%;
    margin-left: 50px;
    border-top: 0.5px solid #e9e4db;
    border-bottom: 0.5px solid #e9e4db;
    border-collapse: collapse;
    font-size: 18px;

    .order {
      height: 50px;
      margin-left: 30px;
      color: #908471;
      font-weight: 500;
      font-size: 18px;
    }
    .foodImg {
      width: 130px;
      height: 160px;
      margin-top: 20px;
      border-radius: 10px;
    }

    .buttonId {
      width: 55px;
    }

    .button {
      display: block;
      width: 100%;
      height: 25px;
      margin-bottom: 5px;
      outline: 0;
      border: 0;
      border-radius: 3px;
      background-color: rgba(221, 221, 221, 0.644);
      color: #908471;
    }
    .button:hover {
      cursor: pointer;
    }
    .review-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      margin: 20px 0;
      img {
        object-fit: cover;
      }
    }
  }
}
