.container {
  width: 100%;
  height: 40%;
  max-width: 1000px;
  z-index: 999; /* 최상단 위치 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);

  .reviewAdd {
    border-bottom: 0.5px solid #e9e4db;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    color: #908471;
    font-size: 30px;
  }

  .tdCss {
    width: 100%;
    height: 70%;
    position: absolute;
    padding-top: 5px;
    padding-left: 49px;

    .orderTdSize {
      width: 645px;
      padding-top: 15px;
    }

    .order {
      height: 50px;
      padding-bottom: 30px;
      color: #908471;
      font-weight: 500;
      font-size: 25px;
    }
  }

  .close {
    width: 35px;
    right: 15px;
    top: 13px;
    position: absolute;
    font-family: 'noto sans KR';
    font-size: 15px;
    color: #908471;
  }
  .close:hover,
  .reviewAddButton:hover {
    cursor: pointer;
  }

  .reviewInput {
    width: 83%;
    height: 40%;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 80px;
    margin-left: 85px;
    font-size: 17px;
    position: absolute;
    border: none;
    resize: none;
    outline: none;
  }

  .reviewInput::placeholder {
    color: #908471;
  }

  .reviewAddButton {
    width: 75%;
    height: 10%;
    margin-left: 12%;
    bottom: 80px;
    border: none;
    border-radius: 2px;
    position: absolute;
    background-color: #908471;
    font-size: 22px;
    font-family: 'noto sans KR';
    color: rgba(255, 255, 255, 0.788);
  }
}
