@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');

@font-face {
  font-family: 'noto sans KR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');
}

html {
  font-family: 'noto sans KR', sans-serif;
  background: #eee;
  position: relative;
  font-size: 17px;
  height: 100%;
}

// li {
//   list-style: none;
//   padding-left: 0px;
//   float: left;
// }

.navBarItem,
.navTabsList {
  list-style: none;
  padding-left: 0px;
  float: left;
}

.container {
  position: absolute;
  left: 50%;

  margin-left: calc(1140px / -2);
  width: 1140px;
  // height: 590px;

  height: auto;

  border: 1px solid #dddb;
  background: #fff none repeat scroll 0 0;

  .mypageContent {
    width: 1140px;
    // height: 590px;

    border: 1px solid #dddb;
    background: #fff none repeat scroll 0 0;

    .headerSection {
      border-bottom: 0.5px solid #e9e4db;
      padding-bottom: 0.7rem;
      margin-top: 20px;
      margin-left: 50px;
      width: 90%;

      .mypageFont {
        font-size: 35px;
        font-weight: 600;
      }
    }

    .mypageHeaderBox {
      margin-top: 20px;
      margin-left: 50px;

      .boxLeft {
        max-width: 148px;
        max-height: 148px;
        display: table-cell;
        vertical-align: top;
      }
      .boxBody {
        display: table-cell;
        vertical-align: top;

        .boxHeading {
          margin-bottom: 22px;
        }

        .nanum {
          font-size: 30px;
          padding-bottom: 25px;
          padding-left: 35px;
        }
      }

      .navBar > li:first-child {
        border-right: 1px solid #e9e4db;
      }
      .navBarItem {
        padding-right: 25px;
        margin-right: 20px;
      }
    }

    .myTabs {
      display: table;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;

      .navTabs {
        display: table-cell;

        .navTabsList {
          margin-right: 25px;
        }

        .navHover:hover {
          cursor: pointer;
          color: #908471;
        }
        .bottom {
          padding-bottom: 7px;
          border-bottom: 5px solid #908471;
        }
      }
    }
    .sectionTitle {
      padding-top: 30px;
      padding-bottom: 20px;
      border-top: 1px solid #e9e4db;
      margin-left: 50px;
      width: 90%;
      color: #908471;
      font-size: 28px;
    }

    .rowList {
      // border-top: 1px solid #e9e4db;
      margin-left: 50px;
      width: 90%;
      text-align: center;
    }
  }
}
