.cart-box {
  display: flex;
  align-items: center;
  padding-left: 5px;
  img {
    height: 18px;
  }
  div {
    span {
      width: 15px;
      padding: 2px 9px;
      background-color: #bfaf96;
      color: white;
      font-weight: bold;
      font-size: 10px;
      border-radius: 8px;
    }
  }
}
