.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 20%;
  background-color: white;
  font-size: 15px;

  .header-logo-box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px 0;
    font-family: 'Noto Sans KR', sans-serif;
    .logo {
      display: flex;
      align-items: center;
      img {
        display: block;
        height: 35px;
      }
    }
    .login-cart-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      color: #444444;
      font-size: 13px;

      div {
        span {
          padding: 0 5px;
          &:hover {
            color: #bfaf96;
          }
        }
        img {
          padding: 0 5px;
        }
      }
    }
  }

  .header-menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e9e4db;
    font-family: 'Gowun Batang', serif;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 50%);
    div {
      margin: 0 10px;
      a {
        padding: 0px 10px;

        color: #444444;
        &:hover {
          color: #bfaf96;
        }
      }
    }
  }

  .line {
    height: 20px;
    border-left: 1px solid #e9e4db;
    border-right: 1px solid #e9e4db;
  }
  span {
    cursor: pointer;
  }
  img {
    cursor: pointer;
  }
}
