.subSlide {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1400px;
  padding: 30px 0;
  font-family: 'Noto Sans KR', sans-serif;
  .title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e4db;
    h2 {
      margin-right: 10px;
    }
    div {
      display: flex;
      align-items: center;
    }
    .more {
      margin-bottom: 40px;
      margin-right: 30px;
      text-decoration: none;
      &:hover {
        color: #bfaf96;
      }
      a {
        margin-right: 10px;
        color: black;
        &:hover {
          border-bottom: 1px solid #bfaf96;
          color: #bfaf96;
        }
      }
    }
  }
  .img-slide {
    width: inherit;
    overflow: hidden;
    .cardlist {
      display: flex;
      // width: inherit;
      .card {
        position: relative;
        height: 500px;
        margin: 20px;
        transition: all 0.2s linear;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: 60%;
          padding: 14px;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7) 40px,
            rgba(0, 0, 0, 0) 100%
          );
          color: white;
          .review {
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px solid #808080;
            font-size: 0.7em;
            color: #ffbf74;
          }
        }
        img {
          height: 100%;
          object-fit: cover;
          width: 310px;
        }
        &:hover {
          transform: scale(1.03);
          cursor: pointer;
        }
      }
    }
  }
  .button {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -50px;
    top: 53%;
    width: 112%;
    button {
      width: 30px;
      height: 30px;
      background-color: #bfaf96;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}
