// div {
//   background-color: white;
// }

.detail {
  padding: 30px 0px;
  height: 100vh;
  background-color: #eee;

  .container {
    display: flex;
    width: 60%;
    // position: absolute;
    margin: 0px auto;
    background-color: #eee;
  }
}
