body {
  background-color: #eee;
}

.nav {
  height: 130px;
  border: 2px solid #ddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin: 50px auto;
  background-color: white;
  border: 1px solid lightgrey;

  .header {
    text-align: center;
    margin: 10px;
    .title {
      font-family: 'Noto Sans', serif;
      font-size: 30px;
    }
    p {
      margin-top: 5px;
      color: #665844;
      opacity: 0.6;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    margin: 10px;
    background-color: #665844;
  }

  .social-account {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 10px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        align-items: center;
        text-align: center;
        margin-left: 5px;
        color: white;
      }
    }

    .social-account-facebook {
      margin-top: 6px;
      background-color: #2c589e;
      &:hover {
        background-color: #1359cb;
      }
    }

    .social-account-naver {
      margin-top: 6px;
      background-color: #3bb400;
      &:hover {
        background-color: #308e02;
      }
    }

    .social-account-kakao {
      margin-top: 6px;
      background-color: #fbde00;
      span {
        color: black;
      }
      &:hover {
        background-color: #dcc40d;
      }
    }

    .social-account-apple {
      margin-top: 6px;
      background-color: #000000;
      img {
        background-color: white;
        border: 0px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .divideror {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    vertical-align: middle;
    .divideror-left,
    .divideror-right {
      width: 169px;
      height: 1px;
      background-color: #665844;
      margin-top: 10px;
    }
    span {
      display: flex;
      text-align: center;
      width: 32px;
      margin: 0 15px;
    }
  }

  .account-type-box {
    display: flex;
    .btn {
      width: 350px;
      text-align: center;
      padding: 10px 30px;
      background-color: #928470;
      color: white;
      &:hover {
        background-color: #7a6951;
      }
    }
  }

  .member-by-email {
    display: flex;
    margin-top: 10px;
    div {
      width: 350px;
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      input {
        padding: 10px;
        margin-top: 10px;
      }
      .input-text {
        font-size: 17px;
        opacity: 0.6;
      }
      .string {
        display: block;
        font-weight: bold;
        color: #665844;
        opacity: 0.6;
      }
    }

    .user-gender > .gender-box {
      display: inline;
      .female,
      .male {
        width: 50%;
      }
    }

    .form-actions {
      text-align: center;
      .account-form-actions-sidetext {
        color: #bfaf96;
        .text-link {
          color: #928470;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .btn {
        background-color: #928470;
        color: white;
        border: none;
        &:hover {
          background-color: #7a6951;
        }
      }
    }
  }

  .account-postbox {
    color: #bfaf96;
    padding: 10px 0;
    .text-link {
      margin-left: 10px;
      color: #928470;
      text-decoration: underline;
    }
  }
}
