.cart-item {
  .item-brand {
    display: flex;
    padding-top: 20px;
    padding-bottom: 12px;
    border: 1px solid #e9e4db;
    border-width: 1px 0px;
    color: #0a0a0a;
    font-size: 14px;
  }

  .item-body {
    display: flex;
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .item-img {
    width: 110px;
    height: 161.14px;
    margin-right: 30px;
    object-fit: cover;
  }

  .item-detail {
    width: 935px;

    .item-name {
      display: flex;
      padding-bottom: 10px;
      color: #444444;
      font-size: 18px;
      font-weight: 700;
    }

    .item-detail-list {
      display: flex;
      justify-content: space-between;
      color: #666666;
      font-size: 14px;

      .item-select {
        display: flex;
      }

      .item-option {
        display: flex;
        width: 315px;
        margin-left: 5px;
        color: #908471;
        font-weight: 600;
      }

      span {
        width: 100px;
      }

      div {
        display: flex;
      }

      .price {
        width: 100px;
      }

      .small {
        width: 105px;
      }

      .count {
        .button {
          height: 14px;
          margin: 0px 10px;
          background-color: inherit;
          opacity: 50%;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .total-price {
        width: 110px;
      }

      .delivery-fee {
        width: 105px;
      }

      .delivery-date {
        margin-right: 15px;
      }

      .delete {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        margin-right: 20px;
        border: 1px solid #ddd;
        background-color: inherit;
        color: #bfaf96;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
